<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
            <ion-card-header color = "primary">
                Location Information
            </ion-card-header>
            <ion-card-content>
            <address>
                121, Clear Water Bay Road <br> 
                Clear Water Bay, Kowloon <br>
                HONG KONG <br>
                <ion-icon name="call"></ion-icon> +852 1234 5678 <br>
                <ion-icon name="print"></ion-icon> +852 8765 4321 <br>
                <ion-icon name="mail"></ion-icon> confusion@food.net <br>
            </address>
            </ion-card-content>
            <ion-row>
            <ion-col>
              <button ion-button icon-left clear small (click)="call()">
                <ion-icon name="call"></ion-icon>
                CALL
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small (click)="sendEmail()">
                <ion-icon name="mail"></ion-icon>
                EMAIL
              </button>
            </ion-col>
          </ion-row>
    </ion-card>

</ion-content>
