<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 

  <ion-toolbar color="primary-pale">
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>  
    </ion-buttons>
    <ion-title>Comment Page</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="commentPage" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label color="primary" floating>Your name</ion-label>
            <ion-input formControlName="author" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-range min="0" max="5" step="1" formControlName="rating" snaps="true">
            <ion-icon range-left small name="sad"></ion-icon>
            <ion-icon range-right name="happy"></ion-icon>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Your name</ion-label>
            <ion-textarea rows = "12" formControlName="comment" floating></ion-textarea>
        </ion-item>
        
        <button ion-button type="submit" [disabled]="!commentPage.valid">Submit</button>
    </form>

</ion-content>
